body {
    background-image: url("doodles.png");
}

#surveyContainer {
    background: white;
    width: 75%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.btn {
    text-align: center;
    margin: auto;
}

.modal {
    display: none; 
    margin: 0 auto;
    z-index: 1;
    border: 1px solid #888;
    padding-top: 100px;
    overflow: auto;
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.modal-content {
    position: relative;
    margin-top: 10px;
    margin: 0 auto;
    background-color: white;
    width: 80%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}